#root {
  max-width: 1280px;
  margin: 0 auto;
}

.add-btn{
  margin-right: 20px;
  padding: 10px;
  text-decoration: none;
  color: black;
  background-color: white;
  border-radius: 5px;
  border: 1px solid;
}

.add-btn:hover{
  border-color: red;
}
.add-btn:active{
  background-color: #dcdcdc;
}

.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  text-align: center;
}

.not-found-header {
  font-size: 6rem;
  margin: 0;
  color: white;
}

.not-found-text {
  font-size: 1.5rem;
  color: white;
}


/* Основные стили для всех инпутов */
input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

input:focus {
  border-color: #4CAF50;
  outline: none;
  width: 300px;
}
input[name="name"] {
  background-color: #f9f9f9;
}
input[name="number"] {
  background-color: #e9f9e9;
}

input[name="email"] {
  background-color: #f0f8ff;
}

input[name="photo"] {
  background-color: #fff0f5;
}
